
<div class="authform">
<h2>Cambia tu contrase単a</h2>

<%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
   <%= devise_error_messages! %>

  <%= f.input :reset_password_token, :as => :hidden %>
  <%= f.full_error :reset_password_token %>

  <div class="form-inputs">
    <%= f.input :password, :label => "Nueva contrase単a", :required => true, :autofocus => true %>
    <%= f.input :password_confirmation, :label => "Confirma tu nueva contrase単a", :required => true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Cambiar mi contrase単a" %>
  </div>
<% end %>
</div>